{{ 'price-table-block.css' | asset_url | stylesheet_tag }}

{% assign on_sale = false %}
{% assign discount_percentage = 0 %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
  {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round %}
{% endif %}

<div class="price-table-block" {{ block.shopify_attributes }}>
  <div class="price-table-container">
    
    <div class="price-columns">
      
      <div class="price-column">
        {% if on_sale %}
          {% assign compare_price_formatted = product.compare_at_price | divided_by: 100 | floor %}
          {% if compare_price_formatted >= 1000 %}
            {% assign thousands = compare_price_formatted | divided_by: 1000 | floor %}
            {% assign remainder = compare_price_formatted | modulo: 1000 %}
            <div class="column-header">₪{{ thousands }},{{ remainder | prepend: '000' | slice: -3, 3 }}</div>
          {% else %}
            <div class="column-header">₪{{ compare_price_formatted }}</div>
          {% endif %}
        {% else %}
          <div class="column-header">מ״ס</div>
        {% endif %}
        <div class="header-line"></div>
        {% assign current_price_formatted = product.price | divided_by: 100 | floor %}
        {% if current_price_formatted >= 1000 %}
          {% assign thousands = current_price_formatted | divided_by: 1000 | floor %}
          {% assign remainder = current_price_formatted | modulo: 1000 %}
          <div class="current-price">₪{{ thousands }},{{ remainder | prepend: '000' | slice: -3, 3 }}</div>
        {% else %}
          <div class="current-price">₪{{ current_price_formatted }}</div>
        {% endif %}
      </div>
      
      <div class="column-divider"></div>
      
      <div class="price-column">
        <div class="column-header">הובלה והרכבה</div>
        <div class="header-line"></div>
        <div class="current-price">₪{{ block.settings.delivery_price | default: 550 }}</div>
      </div>
      
      <div class="column-divider"></div>
      
      <div class="price-column">
        {% assign delivery_price_num = block.settings.delivery_price | default: 550 | plus: 0 %}
        {% assign total_compare = product.compare_at_price | divided_by: 100 | floor | plus: delivery_price_num %}
        {% assign total_current = product.price | divided_by: 100 | floor | plus: delivery_price_num %}
        
        <div class="column-header">סה"כ</div>
        <div class="header-line"></div>
        {% if total_current >= 1000 %}
          {% assign thousands = total_current | divided_by: 1000 | floor %}
          {% assign remainder = total_current | modulo: 1000 %}
          <div class="current-price">₪{{ thousands }},{{ remainder | prepend: '000' | slice: -3, 3 }}</div>
        {% else %}
          <div class="current-price">₪{{ total_current }}</div>
        {% endif %}
      </div>
      
    </div>
    
    {% if on_sale %}
      <div class="shipping-info-badge-pdp">
        <svg width="19" height="20" viewBox="0 0 19 20" fill="none">
          <path d="M9.49903 1.72058C7.85497 1.72058 6.24783 2.2081 4.88085 3.12149C3.51387 4.03488 2.44843 5.33311 1.81928 6.85203C1.19013 8.37094 1.02551 10.0423 1.34625 11.6548C1.66699 13.2672 2.45868 14.7484 3.6212 15.9109C4.78373 17.0734 6.26487 17.8651 7.87734 18.1859C9.48981 18.5066 11.1612 18.342 12.6801 17.7128C14.199 17.0837 15.4972 16.0182 16.4106 14.6513C17.324 13.2843 17.8115 11.6771 17.8115 10.0331C17.8115 7.82847 16.9357 5.71415 15.3769 4.15526C13.818 2.59636 11.7036 1.72058 9.49903 1.72058ZM9.20215 4.98621C9.3783 4.98621 9.55049 5.03844 9.69696 5.1363C9.84342 5.23417 9.95757 5.37326 10.025 5.536C10.0924 5.69874 10.11 5.87782 10.0757 6.05058C10.0413 6.22335 9.95648 6.38204 9.83192 6.5066C9.70736 6.63115 9.54867 6.71598 9.37591 6.75034C9.20314 6.78471 9.02407 6.76707 8.86132 6.69966C8.69858 6.63225 8.55949 6.5181 8.46162 6.37164C8.36376 6.22517 8.31153 6.05298 8.31153 5.87683C8.31153 5.64062 8.40536 5.41409 8.57239 5.24706C8.73941 5.08004 8.96594 4.98621 9.20215 4.98621ZM10.6865 14.4862H8.31153C8.15406 14.4862 8.00303 14.4237 7.89168 14.3123C7.78033 14.201 7.71778 14.0499 7.71778 13.8925C7.71778 13.735 7.78033 13.584 7.89168 13.4726C8.00303 13.3613 8.15406 13.2987 8.31153 13.2987H8.90528V9.14246H8.31153C8.15406 9.14246 8.00303 9.0799 7.89168 8.96855C7.78033 8.8572 7.71778 8.70618 7.71778 8.54871C7.71778 8.39123 7.78033 8.24021 7.89168 8.12886C8.00303 8.01751 8.15406 7.95496 8.31153 7.95496H9.49903C9.6565 7.95496 9.80752 8.01751 9.91887 8.12886C10.0302 8.24021 10.0928 8.39123 10.0928 8.54871V13.2987H10.6865C10.844 13.2987 10.995 13.3613 11.1064 13.4726C11.2177 13.584 11.2803 13.735 11.2803 13.8925C11.2803 14.0499 11.2177 14.201 11.1064 14.3123C10.995 14.4237 10.844 14.4862 10.6865 14.4862Z" fill="#F890A1"/>
        </svg>
        
        
        <span class="shipping-text-pdp">{{ block.settings.savings_text | default: 'חיסכון של 7,000 ש״ח' }}</span>
        
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none">
          <path d="M7.40803 0.171387C3.62452 0.171387 0.546387 3.24952 0.546387 7.03303C0.546387 10.8165 3.62452 13.8947 7.40803 13.8947C11.1915 13.8947 14.2697 10.8165 14.2697 7.03303C14.2697 3.24952 11.1915 0.171387 7.40803 0.171387ZM7.40803 12.6471C4.31239 12.6471 1.79396 10.1286 1.79396 7.03303C1.79396 3.93743 4.31239 1.41896 7.40803 1.41896C10.5037 1.41896 13.0221 3.93743 13.0221 7.03303C13.0221 10.1286 10.5036 12.6471 7.40803 12.6471Z" fill="#DD2D4A"/>
          <path d="M9.98087 4.60712L6.45215 8.1358L4.83488 6.51849C4.59132 6.27492 4.19634 6.27488 3.95273 6.51845C3.70912 6.76205 3.70912 7.15699 3.95273 7.4006L6.01105 9.45901C6.12803 9.57599 6.28668 9.64174 6.45211 9.64174H6.45215C6.61758 9.64174 6.77623 9.57599 6.89321 9.45906L10.863 5.48932C11.1066 5.24571 11.1066 4.85078 10.863 4.60717C10.6194 4.36356 10.2245 4.36352 9.98087 4.60712Z" fill="#DD2D4A"/>
        </svg>
        
        <div class="shipping-divider-pdp"></div>
        
        <span class="discount-text-pdp">
          {% assign installments_count = block.settings.installments_count | default: 12 | plus: 0 %}
          {% assign monthly_payment = total_current | divided_by: installments_count | ceil %}
          החל מ-{{ monthly_payment }} ₪ לחודש *  {{ installments_count }} {{ block.settings.installments_text | default: 'תשלומים' }}
        </span>
        
        <span class="mobile-discount-text">{{ discount_percentage }}% הנחה
          <svg class="mobile-discount-icon" width="12" height="13" viewBox="0 0 12 13" fill="none">
            <path d="M7.35524 11.6914C7.1248 11.9218 6.83926 12.0371 6.49861 12.0371C6.15796 12.0371 5.87242 11.9218 5.64198 11.6914L0.351898 6.40132C0.241688 6.29111 0.154021 6.16086 0.088897 6.01057C0.023773 5.86028 -0.00878906 5.69998 -0.00878906 5.52965V1.23147C-0.00878906 0.900836 0.108935 0.617796 0.344384 0.382348C0.579832 0.146899 0.862872 0.0291748 1.1935 0.0291748H5.49169C5.66202 0.0291748 5.82232 0.0617368 5.97261 0.126861C6.12289 0.191985 6.25314 0.279652 6.36335 0.389862L11.6534 5.69497C11.8839 5.92541 11.9991 6.20845 11.9991 6.54409C11.9991 6.87973 11.8839 7.16277 11.6534 7.3932L7.35524 11.6914ZM6.49861 10.8498L10.7968 6.5516L5.49169 1.23147H1.1935V5.52965L6.49861 10.8498ZM2.69637 3.63605C2.94684 3.63605 3.15975 3.54838 3.33508 3.37305C3.51042 3.19771 3.59808 2.98481 3.59808 2.73433C3.59808 2.48385 3.51042 2.27095 3.33508 2.09561C3.15975 1.92028 2.94684 1.83261 2.69637 1.83261C2.44589 1.83261 2.23298 1.92028 2.05765 2.09561C1.88231 2.27095 1.79465 2.48385 1.79465 2.73433C1.79465 2.98481 1.88231 3.19771 2.05765 3.37305C2.23298 3.54838 2.44589 3.63605 2.69637 3.63605Z" fill="#DD2D4A"/>
          </svg>
        </span>
      </div>
      
      <!-- Mobile installments text (shows only on mobile) -->
      {% assign installments_count = block.settings.installments_count | default: 12 | plus: 0 %}
      {% assign monthly_payment = total_current | divided_by: installments_count | ceil %}
      <div class="mobile-installments-text">
        החל מ-{{ monthly_payment }} ₪ לחודש * {{ installments_count }} {{ block.settings.installments_text | default: 'תשלומים' }}
      </div>
    {% endif %}
    
  </div>
</div>